borrowercalc/borrowercalc-service-client/src/main/resources/borrowerCalculator.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://zopa.com/borrowercalc/borrowercalc/service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://zopa.com/borrowercalc/borrowercalc/service" targetNamespace="http://zopa.com/borrowercalc/borrowercalc/service">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://zopa.com/borrowercalc/borrowercalc/service">

	<xs:element name="calcBorrowerOfferRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="loanAmount" type="xs:int"/>
				<xs:element name="month" type="xs:int"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="calcBorrowerOfferResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="borrowerOffer" type="tns:borrowerOffer"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="borrowerOffer">
		<xs:sequence>
			<xs:element name="requestedAmount" type="xs:int"/>
			<xs:element name="rate" type="xs:decimal"/>
			<xs:element name="monthlyRepayment" type="xs:decimal"/>
			<xs:element name="totalRepayment" type="xs:decimal"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="setLenderOffersRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="1" name="lenderOffer" type="tns:lenderOffer"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="lenderOffer">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="rate" type="xs:decimal"/>
			<xs:element name="available" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="calcBorrowerOfferRequest">
    <wsdl:part element="tns:calcBorrowerOfferRequest" name="calcBorrowerOfferRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="calcBorrowerOfferResponse">
    <wsdl:part element="tns:calcBorrowerOfferResponse" name="calcBorrowerOfferResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setLenderOffersRequest">
    <wsdl:part element="tns:setLenderOffersRequest" name="setLenderOffersRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BorrowerOfferPort">
    <wsdl:operation name="calcBorrowerOffer">
      <wsdl:input message="tns:calcBorrowerOfferRequest" name="calcBorrowerOfferRequest">
    </wsdl:input>
      <wsdl:output message="tns:calcBorrowerOfferResponse" name="calcBorrowerOfferResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setLenderOffers">
      <wsdl:input message="tns:setLenderOffersRequest" name="setLenderOffersRequest">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BorrowerOfferPortSoap11" type="tns:BorrowerOfferPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="calcBorrowerOffer">
      <soap:operation soapAction=""/>
      <wsdl:input name="calcBorrowerOfferRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="calcBorrowerOfferResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setLenderOffers">
      <soap:operation soapAction=""/>
      <wsdl:input name="setLenderOffersRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BorrowerOfferPortService">
    <wsdl:port binding="tns:BorrowerOfferPortSoap11" name="BorrowerOfferPortSoap11">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>